<link rel="stylesheet" href="/static/style.css" />
<div class="container">
    <div class="details-wrapper">
        <img src="/static/{{ p.img }}" class="main-image" />
        <div class="info-pane">
            <h1 class="main-title">{{ p.name }}</h1>
            <span class="price-tag">Price: ${{ p.price }}</span>
            <p class="description-text">Product Description: {{ p.desc }}</p>
            <a href="/" class="btn-primary" style="text-decoration:none;">Back to Home</a>
        </div>
    </div>
</div>