.product-wrapper{
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.product-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
}

.product-image-section{
    flex: 1;
    min-width: 300px;
    max-width: 500px;
}

.product-image{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
    max-height: 500px;
}

.product-info-section{
    flex: 1;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-name{
    font-size: 2.5rem;
    font-weight: 700;
    color: #00100B;
    margin: 0;
}

.product-description{
    font-size: 1.1rem;
    line-height: 1.6;
    color: #00100B;
    margin: 0;
    padding: 8px 0px;
}

.product-price{
    font-size: 2rem;
    color: #29339B;
    margin: 10px 0;
    font-weight: 700;
}

.product-action{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #0D8B96;
    align-self: center;
}

.remove-button{
    background-color: #E63A37;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: all 0.3s ease;
}

.remove-button:hover{
    background-color: #B61916;
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.back-button{
    background-color: #E6E6E6;
    color: #0D8B96;
    border: 1px solid #0D8B96;
    padding: 15px 30px;
    font-size: 1.1rem;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 500;
    transition: all 0.3s ease;
}

.back-button:hover{
    color: #07454B;
    border: 1px solid #07454B;
    transform: translateY(-4px);
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}